<?xml version="1.0" encoding="UTF-8"?>
<web-app
        id="JNDI_Source"
        version="2.4"
        xmlns="http://java.sun.com/xml/ns/j2ee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <servlet>
        <servlet-name>CheckDataSource</servlet-name>
        <servlet-class>com.pica.jndisource.CheckDataSource</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CheckDataSource</servlet-name>
        <url-pattern>/Check</url-pattern>
    </servlet-mapping>

    <resource-ref>
        <description>Configured JNDI DataSource</description>
        <res-ref-name>jdbc/PicaDatabase</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>

</web-app>